DataSet/COCO2017/
DataSet/VOC2012/
DataSet/Unified/**
!DataSet/Unified/**/
!DataSet/Unified/**/*.py
!DataSet/Unified/**/*.pdf
!DataSet/Unified/**/README.md
DataSet/Unified/data_augmentation/report/backgroud.pdf
miniyolo/report/*
!miniyolo/report/*.pdf
yolov0/report/*
!yolov0/report/*.pdf
Unified.tar.gz
*.pt
*.pth
*.onnx
runs/
__pycache__/
*.pyc
*.zip
yolo_final/desktop_app_dist/
final_report/pictures/1.png
final_report/pictures/2.png
final_report/pictures/3.png
final_report/pictures/ChatGPT Image *.png
*.md
!README.md
